**Checkpoint I**

In [172]:
import pandas as pd
from sklearn.compose import make_column_transformer
from sklearn.dummy import DummyClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler, OrdinalEncoder

In [173]:
training_data_df = pd.read_csv("train.csv")
id_col = training_data_df[["id"]]
target = "sales"
y_data = training_data_df[[target]]
X_data = training_data_df.drop(target, axis=1)

In [181]:
x_test = pd.read_csv("test.csv")
id_col = x_test[["id"]]
id_col

            id
0      3000888
1      3000889
2      3000890
3      3000891
4      3000892
...        ...
28507  3029395
28508  3029396
28509  3029397
28510  3029398
28511  3029399

[28512 rows x 1 columns]

In [175]:
numeric_features = ["store_nbr", "onpromotion"]
categorical_features = ["family"]
drop_features = ["id", "date"]
transformer = make_column_transformer((StandardScaler(), numeric_features), (OneHotEncoder(sparse=False, handle_unknown='ignore'), categorical_features), ("drop", drop_features), n_jobs=-1)

In [176]:
pipeline = make_pipeline(transformer)
pipeline.fit_transform(X_data, y_data)

array([[-1.70026736, -0.21301217,  1.        , ...,  0.        ,
         0.        ,  0.        ],
       [-1.70026736, -0.21301217,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-1.70026736, -0.21301217,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-1.1869791 , 11.89939062,  0.        , ...,  1.        ,
         0.        ,  0.        ],
       [-1.1869791 ,  0.4417123 ,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       [-1.1869791 , -0.21301217,  0.        , ...,  0.        ,
         0.        ,  1.        ]])

In [177]:
dummy = DummyClassifier()
dummy.fit(pipeline.transform(X_data), y_data)

DummyClassifier()

In [178]:
results = dummy.predict(pipeline.transform(x_test))
results = pd.DataFrame(results)
results.columns.names = ["id"]
#results.drop('')
#results.rename(columns={'':'id'}, inplace=True)#.columns = ["id", "sales"]#.rename(columns={0:'id', 1:'sales'}) # .replace(0, id_col)
results = results.to_csv("predictions1.csv")

In [183]:
results_df = pd.read_csv("predictions1.csv")
results_df

          id  sales
0          0    0.0
1          1    0.0
2          2    0.0
3          3    0.0
4          4    0.0
...      ...    ...
28507  28507    0.0
28508  28508    0.0
28509  28509    0.0
28510  28510    0.0
28511  28511    0.0

[28512 rows x 2 columns]

Some additional data cleaning to get the output in the right format

In [184]:
results_df.drop("id", axis=1, inplace=True)
results_df

       sales
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
...      ...
28507    0.0
28508    0.0
28509    0.0
28510    0.0
28511    0.0

[28512 rows x 1 columns]

In [186]:
results_export = pd.concat([id_col, results_df], ignore_index=True, axis=1) #.assign(id=id_col)
results_export

             0    1
0      3000888  0.0
1      3000889  0.0
2      3000890  0.0
3      3000891  0.0
4      3000892  0.0
...        ...  ...
28507  3029395  0.0
28508  3029396  0.0
28509  3029397  0.0
28510  3029398  0.0
28511  3029399  0.0

[28512 rows x 2 columns]

In [185]:
id_col

            id
0      3000888
1      3000889
2      3000890
3      3000891
4      3000892
...        ...
28507  3029395
28508  3029396
28509  3029397
28510  3029398
28511  3029399

[28512 rows x 1 columns]

In [187]:
results_export.fillna(0).to_csv("predictions.csv", index=False)